<h1>Tape Conditions</h1>
<p>
  <%= link_to 'Enter a New Condition', new_condition_path, class: 'btn btn-default' %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Condition</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.condition %></td>
        <td><%= condition.description %></td>
        <td><%= link_to 'Show', condition %></td>
        <td><%= link_to 'Edit', edit_condition_path(condition) %></td>
        <td><%= link_to 'Destroy', condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var offset = $('.navbar').height();
  $('table').stickyTableHeaders({fixedOffset: offset});
</script>