<p id="notice"><%= notice %></p>

<h1>Digital Film Content</h1>
<p>
  <%= link_to 'Enter a New Digital', new_digital_path, class: 'btn btn-default' %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
      <th>Type</th>
      <th>Description</th>
      <th>Link</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @digitals.each do |digital| %>
      <tr>
        <td><%= digital.project.title %></td>
        <td><%= digital.title %></td>
        <td><%= digital.file_type %></td>
        <td><%= digital.description %></td>
        <td><%= digital.link %></td>
        <td><%= digital.file %></td>
        <td><%= link_to 'Show', digital %></td>
        <td><%= link_to 'Edit', edit_digital_path(digital) %></td>
        <td><%= link_to 'Destroy', digital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var offset = $('.navbar').height();
  $('table').stickyTableHeaders({fixedOffset: offset});
</script>