<h1>Listing Serials</h1>
<p>
  <%= link_to 'Enter a New Series', new_serial_path, class: 'btn btn-default' %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Series title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @serials.each do |serial| %>
      <tr>
        <td><%= serial.series_title %></td>
        <td><%= link_to 'Show', serial %></td>
        <td><%= link_to 'Edit', edit_serial_path(serial) %></td>
        <td><%= link_to 'Destroy', serial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var offset = $('.navbar').height();
  $('table').stickyTableHeaders({fixedOffset: offset});
</script>