<p id="notice"><%= notice %></p>

<h1>Listing Owners</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Owner name</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.owner_name %></td>
        <td><%= owner.contact_name %></td>
        <td><%= owner.contact_email %></td>
        <td><%= owner.contact_phone %></td>
        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owner', new_owner_path %>

<script>
  var offset = $('.navbar').height();
  $('table').stickyTableHeaders({fixedOffset: offset});
</script>