<h1>Tape Formats</h1>
<p>
  <%= link_to 'Enter a New Format', new_tape_format_path, class: 'btn btn-default' %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Tape format</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tape_formats.each do |tape_format| %>
      <tr>
        <td><%= tape_format.tape_format %></td>
        <td><%= link_to 'Show', tape_format %></td>
        <td><%= link_to 'Edit', edit_tape_format_path(tape_format) %></td>
        <td><%= link_to 'Destroy', tape_format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var offset = $('.navbar').height();
  $('table').stickyTableHeaders({fixedOffset: offset});
</script>