<h1>Filmmakers</h1>
<p>
  <%= link_to 'Enter a New Filmmaker', new_filmmaker_path, class: 'btn btn-default' %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filmmakers.each do |filmmaker| %>
      <tr>
        <td><%= filmmaker.name %></td>
        <td><%= filmmaker.email %></td>
        <td><%= filmmaker.phone %></td>
        <td><%= link_to 'Show', filmmaker %></td>
        <td><%= link_to 'Edit', edit_filmmaker_path(filmmaker) %></td>
        <td><%= link_to 'Destroy', filmmaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var offset = $('.navbar').height();
  $('table').stickyTableHeaders({fixedOffset: offset});
</script>