<div class="container">

<h1 class="green-text">Digitization for Tape <%= @physical.tape %></h1>
<p>
  <strong>Label Title and Info:</strong><br>
  <%= @physical.label_info %>
</p>
<p>
  <%= link_to fa_icon('eye', text: 'Show Tape Detail'), @physical, class: "btn btn-default" %>
  <%= link_to fa_icon('table', text: 'Back To All Tapes'), physicals_path, class: 'btn btn-default' %>
</p>

<%= form_for @project, url: {action: 'digitize'} do |project_fields| %>
  <div class="row">

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Project Info</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= project_fields.label :title %>
              <%= project_fields.text_field :title, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= project_fields.label :description %>
              <%= project_fields.text_area :description, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= project_fields.label :production_notes %>
              <%= project_fields.text_area :production_notes, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= project_fields.label :credits %>
              <%= project_fields.text_area :credits, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= project_fields.label :date_production, 'Production Date' %>
              <%= project_fields.date_field :date_production, class: 'form-control' %>
            </div>

            <div class="field form-group">
              <%= project_fields.label :owner_id %><br>
              <%= project_fields.collection_select :owner_id, @owners, :id, :owner_name, {prompt: "Select an owner", selected: @physical.owner_id}, {class: "form-control"} %>
            </div>

          </div>
        </div>
      </div>
    <%= fields_for :digitals do |digital_fields| %>
    <% end %>

  </div>
  <%= project_fields.submit 'Save Project', class: 'btn btn-success' %>
<% end %>
