<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Owner</th>
      <th>Title</th>
      <th>Description</th>
      <th>Production notes</th>
      <th>Production date</th>
      <th>Production year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.serial.series_title %></td>
        <td><%= project.owner.owner_name %></td>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.production_notes %></td>
        <td><%= project.production_date %></td>
        <td><%= project.production_year %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

<script>
  var offset = $('.navbar').height();
  $('table').stickyTableHeaders({fixedOffset: offset});
</script>