<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @project.serial.series_title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.owner.owner_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Production notes:</strong>
  <%= @project.production_notes %>
</p>

<p>
  <strong>Production date:</strong>
  <%= @project.date_production %>
</p>

<p>
  <strong>Production year:</strong>
  <%= @project.production_year %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
