<div class="container">
<h1 class="green-text"><%= @project.title %></h1>

<div class="row">
  <div class="col-sm-6">
    <%= render 'project_details' %>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-muted">Formats</h3>
      </div>
      <div class="panel-body">
      <h4>Tapes</h4>

      <% @project.physicals.each do |tape| %>
        <li>
          <%= link_to "Label ID #{tape.tape}", physical_path(tape) %>: <%= tape.label_info %>
        </li>
      <% end %>

      <h4>Drives</h4>
      <p><em>Coming soon!</em></p>
      <h4>Online</h4>
      <p><em>Coming soon!</em></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>


