<%= form_for(@physical) do |f| %>
  <% if @physical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physical.errors.count, "error") %> prohibited this physical from being saved:</h2>

      <ul>
      <% @physical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label 'Tape ID' %><br>
    <%= f.text_field :tape, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :new_box %><br>
    <%= f.text_field :new_box, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :old_box %><br>
    <%= f.text_field :old_box, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :label_title %><br>
    <%= f.text_field :label_title, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :label_info %><br>
    <%= f.text_area :label_info, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label "Date on Label, only if present" %><br>
    <%= f.text_field :date_label, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label "Date of film, only if known" %><br>
    <%= f.text_field :date_actual, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :owner_id %><br>
    <%= f.collection_select :owner_id, @owners, :id, :owner_name, {prompt: "Select the owner of the tape"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :master_status %><br>
    <%= f.text_field :master_status, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :tape_format_id %><br>
    <%= f.collection_select :tape_format_id, @tape_formats, :id, :tape_format, {prompt: "Select a tape format"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :brand_id %><br>
    <%= f.collection_select :brand_id, @brands, :id, :brand, {prompt: "Select a tape brand"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :condition_id %><br>
    <%= f.collection_select :condition_id, @conditions, :id, :condition, {prompt: "Select condition of tape"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>

<script>
$('#physical_date_label, #physical_date_actual').datepicker({
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true
});
</script>
