<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Label Data</h3>
  </div>
  <div class="panel-body">
    <span class="pull-right"><em><%= @physical.try(:date_label).try(:stamp, 'July 1, 2015') %></em></span>
    <p>
      <strong>Location:</strong> <%= @physical.location %>
    </p>
    <p>
      <strong>Label Title and Info</strong><br>
      <%= @physical.label_info %></p>
    <p>
      <strong>New box:</strong> <%= @physical.new_box %>, <strong>Old box:</strong> <%= @physical.old_box %>
    </p>

    <p>
      <strong>Tape Format:</strong> <%= @physical.tape_format.tape_format %>
    </p>

    <p>
      <strong>Brand:</strong> <%= @physical.brand.brand %>
    </p>

    <p>
      <strong>Condition:</strong> <%= @physical.condition.condition %>
    </p>
  </div>
</div>