<p id="notice"><%= notice %></p>

<h1>Physical Tape Archive</h1>
<p>
  <%= link_to 'Enter a New Tape', new_physical_path, class: 'btn btn-default' %>
</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Tape</th>
      <th>New box</th>
      <th>Old box</th>
      <th>Title</th>
      <th>Label title</th>
      <th>Label info</th>
      <th>Label date</th>
      <th>Actual date</th>
      <th>Owner</th>
      <th>Master status</th>
      <th>Format</th>
      <th>Brand</th>
      <th>Condition</th>
      <th>Notes</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicals.each do |physical| %>
      <tr>
        <td><%= physical.tape %></td>
        <td><%= physical.new_box %></td>
        <td><%= physical.old_box %></td>
        <td><%= physical.title %></td>
        <td><%= physical.label_title %></td>
        <td><%= physical.label_info %></td>
        <td><%= physical.date_label %></td>
        <td><%= physical.date_actual %></td>
        <td><%= physical.owner.owner_name %></td>
        <td><%= physical.master_status %></td>
        <td><%= physical.tape_format.tape_format %></td>
        <td><%= physical.brand.brand %></td>
        <td><%= physical.condition.condition %></td>
        <td><%= physical.notes %></td>
        <td><%= physical.location %></td>
        <td><%= link_to 'Show', physical %></td>
        <td><%= link_to 'Edit', edit_physical_path(physical) %></td>
        <td><%= link_to 'Destroy', physical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var offset = $('.navbar').height();
  $('table').stickyTableHeaders({fixedOffset: offset});
</script>
