<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1 class="green-text">Tape <%= @physical.tape %></h1>

  <p>
    <strong>Process Step:</strong>
    <%= @physical.try(:process_step).try(:process_step) %>
  </p>

    <p>
      <%= link_to content_tag(:i, ' Edit', class: "fa fa-pencil"), edit_physical_path(@physical), class: "btn btn-default" %>
      <%= link_to content_tag(:i, ' All Tapes', class: "fa fa-table"), physicals_path, class: 'btn btn-default' %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6">
    <%= render 'label_data' %>
  </div>

  <div class="col-md-4 col-sm-6">
    <%= render 'actual_data' %>
  </div>

  <div class="col-md-4 col-sm-6">
    <%= render 'project_data' %>
  </div>

</div>
</div>