<p id="notice"><%= notice %></p>

<p>
  <strong>Tape:</strong>
  <%= @physical.tape %>
</p>

<p>
  <strong>New box:</strong>
  <%= @physical.new_box %>
</p>

<p>
  <strong>Old box:</strong>
  <%= @physical.old_box %>
</p>

<p>
  <strong>Title:</strong>
  <%= @physical.title %>
</p>

<p>
  <strong>Label title:</strong>
  <%= @physical.label_title %>
</p>

<p>
  <strong>Label info:</strong>
  <%= @physical.label_info %>
</p>

<p>
  <strong>Label date:</strong>
  <%= @physical.label_date %>
</p>

<p>
  <strong>Filmaker:</strong>
  <%= @physical.filmaker %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @physical.owner %>
</p>

<p>
  <strong>Master status:</strong>
  <%= @physical.master_status %>
</p>

<p>
  <strong>Format:</strong>
  <%= @physical.format %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @physical.brand %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @physical.condition %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @physical.notes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @physical.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @physical.location %>
</p>

<%= link_to 'Edit', edit_physical_path(@physical) %> |
<%= link_to 'Back', physicals_path %>
